<div id="thread-index">
  
  <div class="index-title">
    <%= @title || 'Schlitz BBS' %>
  </div>

  <%= will_paginate @threads %>

  <div class="thread header">
    <div class="title">Subject</div>
    <div class="posts">Posts</div>
    <div class="author">Created By</div>
    <div class="last-author">Last Poster</div>
    <div class="last-post">Last Post At</div>
  </div>
  
  <% @threads.each_with_index do |thread, i| %>
  <div class="thread <%= i%2==0 ? 'even' : 'odd' %>" id="thread-<%= thread.id %>">
    <div class="title"><%= link_to thread.title, thread_path(thread) %></div>
    <div class="posts"><%= thread.nposts %></div>
    <div class="author"><%= thread.first_author_name %></div>
    <div class="last-author"><%= thread.last_author_name %></div>
    <div class="last-post"><%= format_date thread.last_post_at %></div>
  </div>
  <% end %>

  <%= will_paginate @threads %>
  
  <div class="post_form">
    <% form_for :thread, @thread do |f| %>
      <%= f.label :author %>: 
      <%= f.text_field :author %>
      <br />
      
      <%= f.label :email %>:
      <%= f.text_field :email %>
      <br />
      
      <%= f.label :title %>:
      <%= f.text_field :title %>
      <br />
      
      <%= f.label :post %>:
      <%= f.text_area :post %>
      <br />
      
      <%= f.submit %>
    <% end %>
  </div>

</div>
