<div class="thread-title"><%= @thread.title %></div>

<%= will_paginate @posts %>

<% @posts.each_with_index do |post, i| %>
<div class="post <%= i%2==0 ? 'even' : 'odd' %>" id="post-<%= post.id %>">
  <div class="body"><%= post.body %></div>
  <div class="author">
    <% if post.author_id %><%= image_tag('skull-trans.gif') %><% end %>
    <%= post.author_name %>
  </div>
  <div class="date"><%= post.created_at %></div>
  <div class="clear">&nbsp;</div>
</div>
<% end %>

<%= will_paginate @posts %>
